* {
  /* NORMALIZE */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;

  /* VARIABLES */
  --clr-bg: rgb(244, 237, 228);
  --clr-shadow: rgb(243, 217, 185);
  --card-bg: rgb(255, 250, 241);
  --card-bg-hover: rgb(243, 234, 217);
  --clr-brdr: rgb(222, 222, 222);
}

/* BASIC STYLES */

body,
header {
  background-color: var(--clr-bg);
}

body {
  position: relative;
  padding: 2rem;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  height: 8vh;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, 19rem);
  grid-auto-rows: min-content;
  justify-content: center;
  gap: 1rem;
  height: 90vh;
}

h1 {
  text-align: center;
  font-size: 1.25rem;
}

input {
  height: 2rem;
  width: 19rem;
  padding-inline: 1rem;
  border: 1px solid var(--clr-brdr);
  border-radius: 5px;
}

.no-results {
  text-align: center;
}

/* EMPLOYEE CARDS */

.card {
  display: flex;
  align-items: center;
  height: 8rem;
  width: 19rem;
  padding: 1rem;
  border: 1px solid var(--clr-brdr);
  border-radius: 5px;
  background-color: var(--card-bg);
  cursor: pointer;
  transition: box-shadow .3s ease, background-color .3s ease;
}

.card:hover {
  background-color: var(--card-bg-hover);
  box-shadow: 7px 5px 10px var(--clr-shadow);
}

.avatar {
  margin-right: 1rem;
  border-radius: 50%;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.name {
  font-weight: 700;
}

.email {
  font-size: .7rem;
}

/* MODAL */

.modal-close,
.modal-avatar,
.modal p,
.modal h2 {
  margin-bottom: .5rem;
}

.modal-close,
.prev-btn,
.next-btn {
  width: 2rem;
  font-weight: 700;
  background: none;
  border: none;
  border-radius: 40%;
  cursor: pointer;
  transition: background-color .3s ease;
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  font-size: 1.25rem;
}

.modal-close:hover,
.prev-btn:hover,
.next-btn:hover {
  background-color: var(--card-bg-hover);
}

.hidden {
  display: none;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .75);
}

.modal {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 375px;
  margin: 15% auto auto;
  padding: 1rem;
  border-radius: 5px;
  background-color: var(--card-bg);
  text-align: center;
}

.modal-close {
  align-self: flex-end;
}

.modal-avatar {
  border-radius: 50%;
}

.cell {
  margin-top: .5rem;
}

.next-btn {
  right: 1rem;
}

@media (min-width: 768px) {

  header {
    flex-direction: row;
  }

  h1 {
    text-align: left;
  }
}